.navbar {
    justify-content: center;
    width: 100%;
    padding-top: 0%;
    height: 5rem;
}

#heroLinks{
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    justify-content: space-around;
    padding-top: 2rem;
}